name: widgetbook_golden_test_repo
publish_to: none
environment:
  sdk: ^3.9.0

workspace:
  - apps/widgetbook_samples
  - packages/widgetbook_golden_test
  - packages/widgetbook_golden_test/example
  - packages/widgetbook_golden_test_alchemist
  - packages/widgetbook_golden_test_core
dev_dependencies:
  melos: ^7.3.0

melos:
  scripts:
    analyze:
      run: melos exec --no-private fvm flutter analyze
    test:
      run: melos exec --no-private fvm flutter test --dart-define=CI=$CI
    test-coverage:
      run: melos exec --no-private fvm flutter test --coverage --dart-define=CI=$CI
    update-goldens:
      run: melos exec --no-private fvm flutter test --update-goldens --dart-define=CI=$CI
    ensure-format:
      run: melos exec --no-private fvm dart format . -o none --set-exit-if-changed