name: widgetbook_golden_test_repo
publish_to: none
environment:
  sdk: ^3.9.0

workspace:
  - packages/widgetbook_golden_test
  - packages/widgetbook_golden_test_core
dev_dependencies:
  melos: ^7.3.0

melos:
  scripts:
    analyze:
      run: fvm flutter analyze
    test:
      run: melos exec -- fvm flutter test
    test-coverage:
      run: melos exec -- fvm flutter test --coverage
    update-goldens:
      run: melos exec -- fvm flutter test --update-goldens
    ensure-format:
      run: melos exec -- fvm dart format . -o none --set-exit-if-changed